body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fffaf0;
    color: #333;
}

header {
    background: #ff8c00;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-family: Montserrat, Bebas Neue, Oswald, and Lato;

}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover, .active {
    text-decoration: underline;
}

.hero {
    background: url('asset/banner.jpg') center/cover no-repeat;
    color: black;
    text-align: center;
    padding: 100px 20px;
    height: 50vh;
    font-size: 40px;
    font-family: Montserrat, Bebas Neue, Oswald, and Lato;
}

.btn {
    background: white;
    color: #ff8c00;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
}

.menu, .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.menu .item, .gallery img {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 1px 5px 5px 5px pink;
   }

.menu .item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.menu .item h3, .menu .item p {
    text-align: center;
}
.about{
    background: url('asset/about.jpg') center/cover no-repeat;
    font-size: 32px;
    height: 60vh;
}

.about, .contact {
    padding: 40px;
    text-align: center;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #ff8c00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.gallery,img:hover{
    transform: scale(1.05);
}
.menu, .item{
    cursor: pointer;
}
